@import url(https://fonts.googleapis.com/css?family=Lato:700,400);
@import url(https://fonts.googleapis.com/css?family=Kanit:700,600,500,400);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400,400i,500,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700);
@import url(https://fonts.googleapis.com/css?family=Handlee);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url(https://fonts.googleapis.com/css?family=Satisfy);

/* --------------------------------------
   Global Styles
   -------------------------------------- */

html,
body {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body h1 {
    font-size: 3em;
}

body h2 {
    font-size: 2.5em;
}

body h3 {
    font-size: 2em;
}

body h4 {
    font-size: 1.5em;
}

body h5 {
    font-size: 1.25em;
}

.center {
    text-align: center;
}

.small-caps {
    font-variant: small-caps;
}

md-divider {
    border-top-color: #ff9800
}


/* --------------------------------------
    Page Styles
   -------------------------------------- */

#main {}

#navbar-brand-logo {
    height: 50px;
    margin: 0em 1em 0em 1em;
}

#navbar-brand-name {
    font-size: 1.5em;
}

.CodeMirror {
    height: 100%;
}

#ide-wrapper {
    margin: 2em;
    padding: 0em;
}

#code-wrapper {
    padding: 0em;
    margin: 0em;
    border: 1px solid #e0e0e0;
}

#code-editor-options {
    padding: 1em;
}

#input-output-wrapper {
    margin: 2em;
    padding: 0em;
    max-height: 400px;
}

.sub-heading {
    font-size: 2em;
}

#input-textarea {
    min-height: 200px;
    margin-top: 0.5em;
}

#output-pre {
    padding: 0.5em;
    background: #bdbdbd;
}

#exec-time {
    color: #888888;
    margin-left: 0.5em;
}